Cython~=0.29.21
docutils~=0.16
ffmpeg-python~=0.2.0
Janome~=0.4.1
jaconv~=0.2.4
japanize-kivy==0.1.1
Kivy==2.0.0rc4
kivy-deps.angle==0.3.0
kivy-deps.glew==0.3.0
kivy-deps.gstreamer==0.1.18
kivy-deps.sdl2==0.3.1
Kivy-Garden==0.1.4
kiwisolver==1.2.0
soundfile~=0.10.3.post1
librosa~=0.8.0
opencv-python~=4.4.0.44
numpy~=1.18.5
Pillow~=8.0.1
pygame~=1.9.6
Pygments~=2.7.1
pypiwin32~=223

matplotlib==3.1.3
